html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.bg-image-full {
    background-image: url('/static/MK.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
}
