{% extends 'default.html' %}

{% block title %}
Политика конфиденциальности
{% endblock title %}

{% block content %}
<h1>Политика конфиденциальности</h1>
<p>На странице описаны типы персональной информации, полученной или собранной сайтом, и ее использование.</p>
<h2>Лог-файлы</h2>
<p>Сайт использует файлы журналов. Они содержат адреса интернет-протокола (IP), тип браузера, интернет-провайдера (ISP),
    отметку даты/времени, страницы перехода/выхода и количество кликов по всему сайту. IP-адреса и другая такие данные
    не раскрывают личность Пользователя.</p>
<h2>Cookies и Яндекс Метрика</h2>
<p>Top-MMOGames.ru использует файлы cookie для хранения информации о предпочтениях посетителей. Содержимое веб-страницы
    настраивается на основе типа браузера.</p>
<p>Сервис Яндекс Метрика собирает статистику по посещениям, которая может применяться для улучшения сайта. Политика
    конфиденциальности Яндекса <a href="https://yandex.ru/legal/confidential/" rel="nofollow" target="_blank">по
        ссылке</a>.</p>
<p>Файлы cookie можно отключить в настройках браузера. Управление cookie в конкретных веб-браузерах описано на
    соответствующих сайтах.</p>
<h2>Регистрация в рейтинге</h2>
<p>При регистрации в рейтинге серверов наш сайт сохраняет логин, электронную почту и пароль. Они требуются только для
    доступа в личный кабинет и не передаются третьим лицам.</p>
<h2>Защита персональной информации Пользователя</h2>
<p>Администрация сайта принимает необходимые и достаточные меры для защиты персональной информации Пользователя от
    неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также
    от иных неправомерных действий с ней третьих лиц.</p>
<h2>Данные пользователей</h2>
<p>Мы храним данные пользователей, которые запрашиваются при создании аккаунта на нашем сайте. Они перечислены выше.
    Чтобы удалить эти данные и аккаунт с нашего сайта, авторизуйтесь, перейдите в «Профиль», нажмите «Удалить аккаунт» и следуйте
    дальнейшим инструкциям на странице.</p>
<p>Если вам требуется дополнительная информация или появились вопросы о нашей политике конфиденциальности, пожалуйста,
    свяжитесь с нами.</p>

{% endblock content %}