{% extends 'default.html' %}

{% block title %}
Условия пользования
{% endblock title %}

{% block content %}
<h1>Условия использования</h1>
<p>Используя сайт, вы соглашаетесь со следующими условиями. Слова «мы», «нас» или «рейтинг» относятся к сайту и
    администрации, а «вы» — ко всем посетителям и пользователям. Если вы не согласны с любыми из этих условий,
    пожалуйста, прекратите использование сайта.</p>
<h2>Конфиденциальность и защита авторских прав</h2>
<p>Вы разрешаете нам обрабатывать и использовать свои персональные данные в соответствии с <a href="/privacy-policy/"
                                                                                              target="_blank">политикой
    конфиденциальности сайта</a>.</p>
<p>Мы проверяем сообщения о нарушениях авторских прав и удаляем противоправную информацию по требованию
    правообладателей.</p>
<h2>Добавление в рейтинг</h2>
<p>Вам разрешено добавлять посты, если вы его владелец или у вас есть разрешение администрации. После
    добавления вы соглашаетесь с тем, что наш сайт может собирать, сохранять и отображать данные с вашего сервера. Вы
    соглашаетесь не загружать порнографическую, незаконную или расистскую информацию.</p>
<h2>Удаление серверов</h2>
<p>Администрация оставляет за собой право удалить любой пост в любое время с предварительным уведомлением или без него
    по ряду причин, включая, но не ограничиваясь:</p>
<ul>
    <li>Неподходящие сведения (имя, описание и т. д.)</li>
    <li>Использование только заглавных букв в названии, за исключением аббревиатур</li>
    <li>Добавление в заголовок чего-либо кроме точного названия</li>
    <li>Низкое время безотказной работы</li>
    <li>Дубли</li>
</ul>
<p>Мы оставляем за собой право изменять или удалять отдельные данные (баннер, имя, описание и т. д.) без
    предварительного уведомления.</p>
<h2>Отказ от гарантии и обязательств</h2>
<p>Никаких гарантий в отношении сайта нет.</p>
<h2>Изменение условий</h2>
<p>Мы оставляем за собой право изменять эти условия использования в любое время с уведомлением или без него.</p>
{% endblock content %}